/* Elements of all */
* {
	margin    : 0;
	padding   : 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body {
	font-family: 'Karla', sans-serif;
}

/* Responsive-design */
@media only screen and (max-width: 1000px) {
	html {
		font-size: 12px;
	}
	.space-1 {
		z-index: 10;
		width: 100%;
		position: fixed;
	}
	.nav-bar {
		padding: 1rem 2rem 1rem 2rem;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.icon-menu {
		width: 2rem;
		filter: invert(100%);
	}
	.logo-name {
		letter-spacing: 0.1rem;
		text-decoration: none;
		color: var(--blanco);
		font-weight: 700;
		font-size: 2rem;
	}
	.menu a {
		text-decoration: none;
		color: var(--negro);
		font-size: 2rem;
		font-weight: 600;
	}
	.menu li {
		list-style: none;
		padding-top: 1rem;
	}
	.menu {
		position        : fixed;
		top             : 0;
		right: 0;
		left: 0;
		background-color: var(--blanco);
		width           : 100%;
		height          : 100vh;
		flex-direction  : column;
		display         : flex;
		transition      : all 0.8s ease;
		transform       : translateX(-200%);
		align-items     : center;
		justify-content : center;
	}
	.space-img {
		height: 50vh;
	}
	.header-img {
		width: 100%;
		background-image: url(../img/img-girl.jpg);
		height: 60vh;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.effect-back {
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.3;
	}
	.text-1 {
		width: 100%;
		position: relative;
		border-radius: 4rem 4rem 0 0;
		background: linear-gradient(180deg, #fff, #ececec, #e6e6e6);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.titulo-1 {
		margin-top: 5%;
		display: flex;
		flex-direction: column;
		align-items: left;
		width: 80%;
	}
	.titulo-1 h1 {
		text-align: left;
		margin: 0;
		font-size: 3rem;
		line-height: 2.8rem;
		font-weight: 800;
		margin-bottom: 0.5rem;
	}
	.titulo-1 h3 {
		font-weight: 400;
		font-size: 1.3rem;
		width: 80%;
	}
	.barra {
		margin-top: 2%;
		width: 80%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.barra a {
		cursor: pointer;
		text-align: center;
		border-radius: 4rem;
		padding: 2% 10% 2% 10%;
		background: var(--blanco-h);
		font-size: 1.3rem;
		color: var(--negro);
		text-decoration: none;
		letter-spacing: 0.05rem;
	}
	.barra a:hover {
		transition: all 0.5s ease;
		background: var(--negro);
		font-size: 1.3rem;
		color: var(--blanco);
	}

	.tar-1 {
		background: var(--blanco);
		border-radius: 1.5rem;
		padding: 7%;
	}
	.link-tar {
		width: 47%;
		text-decoration: none;
		color: var(--negro);
	}
	.img-tar-1 {
		border-radius: 1.5rem;
		height: 20vh;
		background-image: url(../img/img-art1.jpg);
		background-size: cover;
	}
	.img-tar-2 {
		border-radius: 1.5rem;
		height: 20vh;
		background-image: url(../img/img-art2.jpg);
		background-size: cover;
	}
	.img-tar-3 {
		border-radius: 1.5rem;
		height: 20vh;
		background-image: url(../img/img-art3.jpg);
		background-size: cover;
	}
	.text-tar {
		margin-top: 5%;
	}
	.tarjetas-1 {
		margin-top: 3%;
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10%;
		transition: all 0.5s;
		opacity: 1;
	}
	.tarjetas-2 {
		bottom: 0;
		position: absolute;
		margin-top: 3%;
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10%;
		opacity: 0;
		transition: all 0.5s;
	}
	.tarjetas-3 {
		bottom: 0;
		position: absolute;
		margin-top: 3%;
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10%;
		opacity: 0;
		transition: all 0.5s;
	}